@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    --app-dark: theme(colors.slate.950);
    --app--dark: theme(colors.slate.900);
    --app--dark: theme(colors.slate.800);
    --app-light: theme(colors.slate.100);
    --app--light: theme(colors.slate.200);
    --app-shadow: #00000025;
    --app-primary: theme(colors.lime.600);
    --error: theme(colors.red.600);
    --success: theme(colors.green.600);
    --danger: theme(colors.yellow.600);
    --text : theme(colors.black);
  }

  html[theme="dark"] {
    --app-dark: theme(colors.slate.100);
    --app--dark: theme(colors.slate.200);
    --app--dark: theme(colors.slate.300);
    --app-light: theme(colors.slate.950);
    --app--light: theme(colors.slate.900);
    --app-shadow: #00000025;
    --app-primary: theme(colors.lime.300);
    --error: theme(colors.red.300);
    --success: theme(colors.green.300);
    --danger: theme(colors.yellow.300);
    --text : theme(colors.white);
  }

  * {
    @apply text-base font-light
  }

  body {
    background-color: var(--app-dark);
    color: var(--app-light);
    height: 100vh;
  }
  #__next {
    height: 100vh;
    
  }

}

@layer components {

  /* Containers */
  .main {
    @apply w-screen h-screen flex flex-col items-center p-4 animate-toright
  }

  .main-sub {
    @apply bg-app--dark border border-app---dark p-4 rounded-md
  }

  .center {
    @apply flex justify-center items-center gap-4
  }

  .full {
    @apply w-full h-full
  }

  .test {
    @apply border-4 border-app-error;
  }

  /* Buttons */
  .btn-base {
    @apply
    bg-app-primary text-app-light font-bold py-2 px-4 rounded-full hover:ring-2 capitalize
    hover:ring-app-light hover:scale-110 duration-300 shadow-lg cursor-pointer outline-none
  }

  /* Containers */
  .format2,
  .format4 {
    @apply bg-app-dark h-80 w-full md:w-80 border border-app--dark
    flex justify-center items-center rounded-md shadow-md
    select-none cursor-pointer;
  }
  .addquestion {
    
    @apply absolute bg-app--dark border-2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 select-none cursor-pointer  flex-col justify-between  w-96 mx-auto p-6   rounded-lg shadow-lg;
  }
  .truefalse{
    @apply w-1/3 h-3/5 hover:scale-105 hover:cursor-pointer bg-app-dark
  }
  .ans4wers{
    width :48%;
    
     @apply h-2/5 p-2 font-serif overflow-hidden  bg-app-dark rounded-lg  border hover:cursor-pointer hover:scale-105
     
  }
  .answercorrect{
    @apply bg-green-700
  }
  .answerwrong{
    @apply bg-red-700
  }
  .loader {
    --cell-size: 100px;
    --cell-spacing: 5px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }
  
  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }
  
  .cell.d-1 {
    animation-delay: 100ms;
  }
  
  .cell.d-2 {
    animation-delay: 200ms;
  }
  
  .cell.d-3 {
    animation-delay: 300ms;
  }
  
  .cell.d-4 {
    animation-delay: 400ms;
  }
  
  .cell:nth-child(1) {
    --cell-color: #00FF87;
  }
  
  .cell:nth-child(2) {
    --cell-color: #0CFD95;
  }
  
  .cell:nth-child(3) {
    --cell-color: #17FBA2;
  }
  
  .cell:nth-child(4) {
    --cell-color: #23F9B2;
  }
  
  .cell:nth-child(5) {
    --cell-color: #30F7C3;
  }
  
  .cell:nth-child(6) {
    --cell-color: #3DF5D4;
  }
  
  .cell:nth-child(7) {
    --cell-color: #45F4DE;
  }
  
  .cell:nth-child(8) {
    --cell-color: #53F1F0;
  }
  
  .cell:nth-child(9) {
    --cell-color: #60EFFF;
  }
  .input {
    color:black ;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.5em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px #969696,
               -1px -1px 5px #ffffff;
  }
  .custom-scrollbar {
    
    overflow-y: auto; 
    border: 1px solid #ccc; 
   

    /* Custom scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    /* WebKit styles */
    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to right, rgb(169, 161, 161), transparent  );
      border-radius: 6px;
      
    }

    &::-webkit-scrollbar-track {
      margin-block: 1rem;
      
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
  .test4ans{
    min-width: 600px;
  }
}

@layer utilities {

  .animate-toright {
    animation: kfr-toright 1s;
  }

  @keyframes kfr-toright {
    from {
      transform: translate(-100%);
      opacity: 0;
    }
  }
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
  
    30% {
      background-color: var(--cell-color);
    }
  
    60% {
      background-color: transparent;
    }
  
    100% {
      background-color: transparent;
    }
  }
  .animate-toleft {
    animation: kfr-toleft 2s;
  }

  @keyframes kfr-toleft {
    from {
      transform: translate(100%);
      opacity: 0;
    }
  }

  .animate-rotate45 {
    animation: kfr-rotate45 2s;
  }

  @keyframes kfr-rotate45 {
    from {
      transform: rotate(45deg);
      opacity: 0;
    }
  }
  .clignote {
    animation: clignotes 1.5s infinite;
  }

  @keyframes clignotes {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}

  .animate-zoom {
    animation: kfr-zoom 2s;
  }

  @keyframes kfr-zoom {
    from {
      transform: scale(0);
      opacity: 0;
    }
  }

  .blocks {
    width: 100%;
    height: 100%;
    z-index: 0;
    --color: var(--app-dark);
    background-color: var(--app--dark);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }

}
