@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    --app-dark: theme(colors.slate.950);
    --app--dark: theme(colors.slate.900);
    --app--dark: theme(colors.slate.800);
    --app-light: theme(colors.slate.100);
    --app--light: theme(colors.slate.200);
    --app-shadow: #00000025;
    --app-primary: theme(colors.lime.600);
    --error: theme(colors.red.600);
    --success: theme(colors.green.600);
    --danger: theme(colors.yellow.600);
  }

  html[theme="dark"] {
    --app-dark: theme(colors.slate.100);
    --app--dark: theme(colors.slate.200);
    --app--dark: theme(colors.slate.300);
    --app-light: theme(colors.slate.950);
    --app--light: theme(colors.slate.900);
    --app-shadow: #00000025;
    --app-primary: theme(colors.lime.300);
    --error: theme(colors.red.300);
    --success: theme(colors.green.300);
    --danger: theme(colors.yellow.300);
  }

  * {
    @apply text-base font-light
  }

  body {
    background-color: var(--app-dark);
    color: var(--app-light);
    height: 100vh;
  }
  #__next {
    height: 100%;
  }

}

@layer components {

  /* Containers */
  .main {
    @apply w-screen h-screen flex flex-col items-center p-4 animate-toright
  }

  .main-sub {
    @apply bg-app--dark border border-app---dark p-4 rounded-md
  }

  .center {
    @apply flex justify-center items-center gap-4
  }

  .full {
    @apply w-full h-full
  }

  .test {
    @apply border-4 border-app-error;
  }

  /* Buttons */
  .btn-base {
    @apply
    bg-app-primary text-app-light font-bold py-2 px-4 rounded-full hover:ring-2 capitalize
    hover:ring-app-light hover:scale-110 duration-300 shadow-lg cursor-pointer outline-none
  }

  /* Containers */
  .format2,
  .format4 {
    @apply bg-app-dark h-80 w-full md:w-80 border border-app--dark
    flex justify-center items-center rounded-md shadow-md
    select-none cursor-pointer;
  }
  .addquestion {
    
    @apply absolute bg-app--dark border-2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 select-none cursor-pointer  flex-col justify-between  w-96 mx-auto p-6   rounded-lg shadow-lg;
  }
  .truefalse{
    @apply w-1/2 h-full hover:scale-105 hover:cursor-pointer bg-app-dark
  }
  .ans4wers{
    width :48%;
     @apply h-2/5   bg-app-dark rounded-lg  border hover:cursor-pointer hover:scale-105
     
  }
}

@layer utilities {

  .animate-toright {
    animation: kfr-toright 1s;
  }

  @keyframes kfr-toright {
    from {
      transform: translate(-100%);
      opacity: 0;
    }
  }

  .animate-toleft {
    animation: kfr-toleft 2s;
  }

  @keyframes kfr-toleft {
    from {
      transform: translate(100%);
      opacity: 0;
    }
  }

  .animate-rotate45 {
    animation: kfr-rotate45 2s;
  }

  @keyframes kfr-rotate45 {
    from {
      transform: rotate(45deg);
      opacity: 0;
    }
  }

  .animate-zoom {
    animation: kfr-zoom 2s;
  }

  @keyframes kfr-zoom {
    from {
      transform: scale(0);
      opacity: 0;
    }
  }

  .blocks {
    width: 100%;
    height: 100%;
    z-index: 0;
    --color: var(--app-dark);
    background-color: var(--app--dark);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }

}
